<div class="container">
  <div class="profile-section">
    <div class="profile-picture-section">
      <img
        src="pbu_logo.png"
        alt="Profile Picture"
        class="profile-picture"
        height="886"
        width="886"
      />
      <div class="profile-text">
        <h2>Plant-Based Universities Munich</h2>
      </div>
    </div>
    <div class="profile-subtext">
      <h4>We are a student-led campaign driving for a future-oriented food system in our canteens.</h4>
    </div>
    <div class="buttons">
      <button class="custom-button-bold" (click)="openSurvey()">
        Do the StuWerk survey about your Mensa
      </button>
      <button class="custom-button" (click)="openPetition()">
        Sign our Petition
      </button>
    </div>
    <div class="social-icons">
      <a href="https://chat.whatsapp.com/EoKqEEgcioFCaXjYuFenPq" target="_blank">
        <i class="fa-brands fa-whatsapp"></i>
      </a>
      <button class="join-us-button" (click)="openSignup()">
        Join us
        <i class="fas fa-user-plus"></i>
      </button>
      <a href="https://www.instagram.com/plantbasedunismunich/" target="_blank">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </div>
  </div>

  <div class="events-container">

    <div *ngIf="events.length > 0; else noEvents" class="event-cards-wrapper">
      <mat-card
        *ngFor="let event of events; let i = index"
        class="event-card"
        (click)="toggleAllCards()"
        [class.expanded]="isCardExpanded(i)"
      >
        <mat-card-title>{{ event.title }}</mat-card-title>
        <img mat-card-image [src]="getImageSrc(event.title)" alt="Event Image" />
        <mat-card-content>
          <p><strong>When:</strong> {{ event.date }}</p>
          <p *ngIf="event.location"><strong>Where:</strong> {{ event.location }}</p>
          <div *ngIf="isCardExpanded(i)">
            <p>
              <strong>What: </strong>
              <span (click)="$event.stopPropagation()" [innerHTML]="event.description"></span>
            </p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <ng-template #noEvents>
      <p>No upcoming events available.</p>
    </ng-template>
  </div>

  <footer>
    <nav>
      <a
        href="privacy-policy.html"
        target="_blank"
        rel="noopener noreferrer"
      >
        Privacy policy
      </a>
      |
      <a href="imprint.html" target="_blank" rel="noopener noreferrer">
        Legal notice
      </a>
      |
      <a href="contact.html" target="_blank" rel="noopener noreferrer">
        Contact
      </a>
    </nav>
  </footer>
</div>
