/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

/* Profile Section */
.profile-section {
  margin-bottom: 40px;
}

.profile-picture-section {
  display: flex;
  align-items: center;
  color: whitesmoke;
  justify-content: center;
}

.profile-text {
  text-align: left;
  margin-left: 20px;
  height: 160px;
  width: 150px;
  h2 {
    margin-top: 25%;
  }
}

@media screen and (max-width: 340px) {
  .profile-text {
    margin-top: -5%;
  }
}
@media screen and (max-width: 311px) {
  .profile-text {
    display: none;
  }
}
.profile-subtext {
  padding: 0 10px;
}

.profile-picture {
  width: 150px;
  height: 150px;
}

.buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;

}

.custom-button {
  font-weight: bold;
  padding: 10px 20px;
  border: 2px solid #02C3A6;
  background-color: transparent;
  color: #02C3A6;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  display: block;
}

@media screen and (min-width: 1000px) {
  .custom-button {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}

.custom-button:hover {
  background-color: #02C3A6;
  color: black;
}
.social-icons {
  display: flex;
  justify-content: center; /* Zentriert die Icons horizontal */
  gap: 30px; /* Abstand zwischen den Icons erhöhen */
  margin-top: 15px; /* Etwas mehr Abstand zum Petition-Button */
  text-decoration: none; /* Entfernt Unterstreichung der Links */
}

.social-icons i { /* Selektiert die Font Awesome <i>-Tags */
  font-size: 48px; /* Größere Icons */
  color: #02c3a6; /* Standardfarbe der Icons (Plant-Based Universities Grün) */
  transition: color 0.3s ease-in-out; /* Sanfter Farbwechsel für Hover-Effekt */
}

/* Optional: Spezifische Farben für die Icons */
.social-icons a:nth-child(1) i { /* Erstes Icon (Whatsapp) */
  color: #25D366; /* Whatsapp Grün */
}

.social-icons a:nth-child(2) i { /* Zweites Icon (Instagram) */
  color: #E4405F; /* Instagram Pink/Rot */
}

.social-icons a:nth-child(1):hover i { /* Hover für Whatsapp */
  color: #128C7E; /* Dunkleres Whatsapp Grün */
}

.social-icons a:nth-child(2):hover i { /* Hover für Instagram */
  color: #C13584; /* Dunkleres Instagram Pink */
}

/* Calendar Section */
.events-header {
  display: flex;
  align-items: center;
  gap: 8px; /* Abstand zwischen dem Text und dem Icon */
  justify-content: center;
}

.events-link-text {
  text-decoration: none;
  color: inherit; /* Übernimmt die Farbe von `h2` */
  font-weight: bold; /* Optional: Schalt den Text fett dar, damit er mehr hervorsticht */
}

.download-icon-link {
  text-decoration: none;
  color: inherit; /* Übernimmt die Farbe von `h2` */
  display: flex;
  align-items: center;
}

.download-icon-link mat-icon {
  font-size: 24px; /* Icon-Größe anpassen */
}

.events-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.event-cards-wrapper {
  display: grid; /* Verwende CSS Grid für gleiche Höhen und Breiten */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Definiere eine Mindestbreite */
  gap: 15px; /* Behalte den Abstand bei */
  margin-bottom: 10px;
}

.event-card {
  border: 4px solid #02C3A6;
  border-radius: 10px;
  background-color: black;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  height: 100%; /* Stelle sicher, dass alle Karten in einer Reihe die gleiche Höhe haben */
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.event-card mat-card-content {
  flex-grow: 1;
}

.event-card.expanded {
  border: 4px solid #0164a3;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.event-card.expanded mat-card-content {
  overflow: visible;
}

.event-card img {
  width: 100%;
  height: auto; /* Beibehaltung des Seitenverhältnisses */
  object-fit: cover; /* Stellt sicher, dass das Bild den Bereich abdeckt */
  max-height: 150px; /* Begrenze die anfängliche Höhe des Bildes */
}
/* Anpassungen für kleinere Bildschirme */
@media screen and (max-width: 768px) and (min-width: 400px){
  .events-container {
    width: 70%;
  }
  .event-cards-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Anpassen der Mindestbreite */
  }
  .event-card {
    font-size: 0.9rem;
  }
  mat-card-title {
    font-size: 1.1rem;
  }
  .event-card img {
    max-height: 180px;
  }
}

@media screen and (max-width: 400px) {

  .event-cards-wrapper {
    grid-template-columns: 1fr; /* Nur eine Spalte für sehr kleine Bildschirme */
  }
  .event-card {
    font-size: 0.8rem !important;
    margin-bottom: 10px;
  }
  mat-card-title {
    font-size: 1rem;
  }
  .event-card img {
    max-height: 120px;
  }
}

footer {
  background-color: black;
  text-align: center;
  padding: 0 0 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer nav a {
  color: #02C3A6;
  margin: 0 10px;
  text-decoration: none;
  font-size: 14px;
}

footer nav a:hover {
  text-decoration: none;
}
