<div class="container">
  <div class="profile-section">
    <img src="pbu_logo.png" alt="Profile Picture" class="profile-picture" height="886" width="886" />
    <div class="buttons">
      <button class="custom-button" (click)="openWhatsapp()">
        Join our Whatsapp
      </button>
      <button class="custom-button" (click)="openInstagram()">
        Follow us on Instagram
      </button>
      <button class="custom-button" (click)="openPetition()">
        Sign our Petition
      </button>
    </div>
  </div>

  <div class="events-container">
    <h3 class="events-header">
      <a href="https://calendar.google.com/calendar/embed?src=pbumunich%40gmail.com&ctz=Europe%2FBerlin" target="_blank" class="events-link-text">Upcoming Events</a>
      <a href="https://calendar.google.com/calendar/ical/pbumunich%40gmail.com/public/basic.ics" class="download-icon-link">
        <mat-icon>download</mat-icon>
      </a>
    </h3>
    <div *ngIf="events.length > 0; else noEvents" class="event-cards-wrapper">
      <a *ngFor="let event of events" [href]="event.link" target="_blank" class="event-card-link">
        <mat-card class="event-card">
          <mat-card-title>{{ event.title }}</mat-card-title>
          <img mat-card-image [src]="getImageSrc(event.title)" alt="Event Image">
          <mat-card-content>
            <p><strong>When:</strong> {{ event.date }}</p>
            <p *ngIf="event.location"><strong>Where:</strong> {{ event.location }}</p>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
    <ng-template #noEvents>
      <p>No upcoming events available.</p>
    </ng-template>
  </div>
</div>

<footer>
  <nav>
    <a href="privacy-policy.html" target="_blank" rel="noopener noreferrer">Datenschutzerklärung</a> |
    <a href="imprint.html" target="_blank" rel="noopener noreferrer">Impressum</a>
  </nav>
</footer>


